.hunters {
    padding-top: 50px;
    background-image: url("../images/huntersback.jpg");
}


.hunters__text {
    text-align: center;
    padding: 0px 0px 50px 0px;
}

.hunters__presentation {
    display: flex;
}

.hunters__container {
    margin: 0;
    padding: 30px 0px 0px 220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hunters__hunter {
    cursor: pointer;
}


.hunters__video {
    padding-left: 150px;
    padding-right: 0px;
    margin-right: 50px;
}
