.map{
    background-image: url("../images/newmapback.jpg");
    padding-bottom: 20px;
}


.map__text {
    margin-bottom: 50px;
    text-align: center;
}

.map__newmap {
    margin-left: 350px;
}

.map h2{
    margin: 0;
    padding-top: 15px;
}