.weapons {
    background-image: url("../images/weaponsback.jpg");
    background-repeat:no-repeat;
}

.weapons__text {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(196, 4, 4);
    font-weight: 900;
}