.weapons {
    background-image: url("../images/weaponsback.jpg");
    background-repeat:no-repeat;
    padding-bottom: 100px;
}

.weapons__text {
    margin: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(196, 4, 4);
    font-weight: 900;
}

.weapons__slider{
    margin-left: 530px;
    margin-top: 50px;
    height: auto;
    width: 825px;
    overflow: hidden;
}

.weapons__slider-line {
    height: auto;
    width: 825px;
    position: relative;
    left: 0;
    transition: all ease 1s;
    display: flex;
}

.weapons__item{
    background-color: rgba(255,0,0,0.5);
    cursor: pointer;
}

.weapons__button{
    width: 150px;
    height: 50px;
    margin-top: 30px;
    margin-left: 90px;
    background-color: rgb(24, 20, 20);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 900;
}

.weapons__button:hover{
    cursor: pointer;
    color: rgb(255, 0, 0);
}